
<div *ngFor="let book of bookList; let i=index">
  <mat-icon svgIcon="book" aria-hidden="false"></mat-icon>
  <app-book-listitem [book]="book" [ngClass]="{'even-item' : i%2 === 0, 'odd-item' : i%2 === 1}"
  ></app-book-listitem>
</div>
<button mat-button routerLink="/modify-book" routerLinkActive="active">Update Item</button>
<button mat-flat-button routerLink="/modify-book" routerLinkActive="active">Delete Item</button>
<a routerLink="\books>"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a>
