.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(195, 223, 224);
  border-radius: 8px;
}
h2 {
  text-align: center;
  color: rgb(59, 118, 120);
  margin-bottom: 20px;
  font-size: 2em;
}
.user-card {
  text-align:center;
  background-color: rgb(242, 255, 255);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 5px solid darkslategrey;
}
.user-card h3 {
  font-size: 1.6em;
  margin: 0;
  color: rgb(11, 82, 82);
}
.user-card p {
  margin: 5px 0;
  color: rgb(59, 118, 120);
}
.user-card p:first-child {
  margin-top: 10px;
}
.user-card p:last-child {
  margin-bottom: 10px;
}
